.version.aga /* version checker */
{
	color: #0000EF;
	background-color: #B444E8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 952px;
	min-height: 1065px;
	overflow:hidden;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -73px;
	width: 0.01px;
}

#pu116
{
	width: 0.01px;
	margin-left: -100px;
}

#u116
{
	z-index: 23;
	width: 1353px;
	background-color: transparent;
	opacity: 0.48;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=48)";
	filter: alpha(opacity=48);
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 1195px;
}

#u70
{
	z-index: 27;
	min-height: 686px;
	border-color: #000000;
	background-color: #73BEC1;
	padding-bottom: 148px;
}

#u70_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 952px;
	position: relative;
	left: -100px;
}

#u139
{
	z-index: 36;
	width: 460px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 185px;
}

#u125-3
{
	z-index: 30;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 763px;
}

#u70-bw
{
	z-index: 27;
	min-height: 686px;
}

#u136
{
	z-index: 33;
	width: 401px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 675px;
}

#u129
{
	z-index: 34;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 18px;
}

#u127-4
{
	z-index: 41;
	width: 397px;
	min-height: 95px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 217px;
}

#u144-4
{
	z-index: 45;
	width: 262px;
	min-height: 74px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 284px;
}

#u1844
{
	z-index: 315;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 24px;
}

#pu786
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -834px;
}

#pu786_position_content
{
	margin-bottom: -19px;
	padding-top: 119px;
}

#u786
{
	z-index: 296;
	height: 100px;
	top: 0px;
}

#u786-bw
{
	z-index: 296;
}

#u787
{
	z-index: 297;
	width: 256px;
	top: 11px;
	left: 50%;
	margin-left: -480px;
}

#u787_img
{
	padding-right: 6px;
	padding-bottom: 1px;
}

#u1318
{
	z-index: 301;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 66px;
}

#u1318:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 66px;
}

#u1334
{
	z-index: 307;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 118px;
}

#u1334:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 118px;
}

#u1329
{
	z-index: 305;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 169px;
}

#u1329:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 169px;
}

#u1349
{
	z-index: 313;
	width: 50px;
	top: 24px;
	left: 50%;
	margin-left: 220px;
}

#u1349:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 220px;
}

#u1339
{
	z-index: 309;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 272px;
}

#u1339:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 272px;
}

#u1344
{
	z-index: 311;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 323px;
}

#u1344:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 323px;
}

#u1324
{
	z-index: 303;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 374px;
}

#u1324:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 374px;
}

#u1312
{
	z-index: 299;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 426px;
}

#u1312:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 426px;
}

#u134-3
{
	z-index: 38;
	width: 5px;
	background-color: transparent;
	margin-left: 354px;
	margin-top: 84px;
	position: relative;
}

#pu161
{
	width: 0.01px;
	margin-left: 88px;
}

#u161
{
	z-index: 21;
	width: 436px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
}

#u161_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu146-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 518px;
}

#u146-6
{
	z-index: 15;
	width: 315px;
	min-height: 108px;
	background-color: transparent;
	text-align: center;
	margin-left: 7px;
	position: relative;
}

#u146-2
{
	font-size: 65px;
	line-height: 78px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u146-4
{
	font-size: 38px;
	line-height: 46px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u75-7
{
	z-index: 8;
	width: 330px;
	min-height: 151px;
	background-color: transparent;
	line-height: 20px;
	text-align: justify;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 36px;
	position: relative;
}

#u74
{
	z-index: 26;
	min-height: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 95px;
}

#u169-17
{
	z-index: 49;
	width: 938px;
	min-height: 466px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 99px;
}

#u169-2
{
	font-size: 37px;
	text-align: center;
	line-height: 44px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u169-4,#u169-5
{
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u169-7,#u169-8,#u169-9,#u169-11,#u169-12,#u169-13,#u169-15
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u74-bw
{
	z-index: 26;
	min-height: 549px;
	margin-top: 119px;
}

#u184-27
{
	z-index: 254;
	width: 502px;
	background-color: transparent;
	margin-left: 436px;
	margin-top: 179px;
	position: relative;
}

#u184-2,#u184-3,#u184-5,#u184-6,#u184-8,#u184-9,#u184-11
{
	font-size: 22px;
	line-height: 26px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#pu183-3
{
	width: 0.01px;
	margin-left: -189px;
	margin-top: 47px;
}

#u183-3
{
	z-index: 251;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
}

#u186
{
	z-index: 7;
	min-height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 129px;
}

#u170-14
{
	z-index: 66;
	width: 440px;
	min-height: 241px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 99px;
}

#u169-3,#u170-2
{
	font-size: 34px;
	text-align: center;
	line-height: 41px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u171-3
{
	z-index: 80;
	width: 8px;
	min-height: 1px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 839px;
}

#u186-bw
{
	z-index: 7;
	min-height: 506px;
	margin-bottom: -1px;
}

#u172-13
{
	z-index: 83;
	width: 424px;
	min-height: 233px;
	background-color: transparent;
	margin-left: 510px;
	margin-top: 79px;
	position: relative;
}

#u172-2
{
	font-size: 31px;
	text-align: center;
	line-height: 37px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u172-3,#u172-6,#u172-9
{
	font-size: 17px;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u172-5,#u172-8,#u172-11
{
	font-size: 17px;
	text-align: justify;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u187
{
	z-index: 6;
	min-height: 383px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 57px;
}

#u173-21
{
	z-index: 96;
	width: 428px;
	min-height: 126px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 99px;
}

#u173-2
{
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u173-3,#u173-5,#u173-7,#u173-9,#u173-10,#u173-12,#u173-14,#u173-16,#u173-18,#u173-19
{
	font-size: 20px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#u187-bw
{
	z-index: 6;
	min-height: 383px;
	margin-top: 79px;
}

#u192
{
	z-index: 2;
	min-height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	padding-bottom: 29px;
}

#u174-16
{
	z-index: 117;
	width: 391px;
	min-height: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 668px;
}

#u174-2
{
	font-size: 38px;
	text-align: center;
	line-height: 46px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u170-6,#u170-9,#u170-10,#u170-12,#u174-5
{
	font-size: 22px;
	text-align: justify;
	line-height: 26px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u170-3,#u170-4,#u170-7,#u174-3,#u174-6,#u174-8,#u174-10,#u174-12,#u174-14
{
	font-size: 22px;
	line-height: 26px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u192-bw
{
	z-index: 2;
	min-height: 506px;
	margin-top: -1px;
}

#u188
{
	z-index: 5;
	min-height: 383px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 125px;
}

#u192_align_to_page,#u188_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 951px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u176-11
{
	z-index: 133;
	width: 408px;
	min-height: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 99px;
}

#u176-2
{
	font-size: 30px;
	text-align: right;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u176-5
{
	font-size: 21px;
	text-align: justify;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u176-3,#u176-6,#u176-8
{
	font-size: 21px;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u188-bw
{
	z-index: 5;
	min-height: 383px;
	margin-top: -1px;
}

#u178-10
{
	z-index: 144;
	width: 460px;
	min-height: 184px;
	background-color: transparent;
	margin-left: 500px;
	margin-top: 74px;
	position: relative;
}

#u178-2
{
	font-size: 33px;
	text-align: center;
	line-height: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u178-3,#u178-5,#u178-6,#u178-8
{
	font-size: 23px;
	text-align: justify;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u189
{
	z-index: 4;
	min-height: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 15px;
}

#u179-27
{
	z-index: 154;
	width: 670px;
	min-height: 237px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 204px;
}

#u179-3
{
	font-size: 36px;
	line-height: 43px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u189-bw
{
	z-index: 4;
	min-height: 440px;
	margin-top: 75px;
}

#u180-29
{
	z-index: 181;
	width: 725px;
	min-height: 305px;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 160px;
	position: relative;
}

#u190
{
	z-index: 3;
	min-height: 842px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EE8802;
	padding-bottom: 34px;
}

#u181-28
{
	z-index: 210;
	width: 490px;
	min-height: 458px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 98px;
}

#u180-2,#u181-2
{
	font-size: 28px;
	line-height: 34px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u181-3,#u181-5,#u181-6,#u181-8,#u181-9,#u181-11,#u181-12,#u181-13,#u181-15,#u181-16,#u181-18,#u181-19,#u181-21,#u181-22,#u181-24,#u181-25
{
	font-size: 19px;
	line-height: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u190-bw
{
	z-index: 3;
	min-height: 842px;
	margin-top: 143px;
}

#u72
{
	z-index: 25;
	min-height: 327px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #A31700;
	padding-bottom: 202px;
}

#u74_align_to_page,#u186_align_to_page,#u187_align_to_page,#u189_align_to_page,#u190_align_to_page,#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 951px;
	position: relative;
	left: -100px;
}

#u95
{
	z-index: 28;
	width: 309px;
	background-color: #73BEC1;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 123px;
}

#u182-13
{
	z-index: 238;
	width: 356px;
	min-height: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 703px;
}

#u182-2
{
	font-size: 31px;
	line-height: 37px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u182-3,#u182-4
{
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u182-5,#u182-7,#u182-8,#u182-10
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u182-11
{
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u72-bw
{
	z-index: 25;
	min-height: 327px;
	margin-top: 110px;
}

#pu1825
{
	width: 0.01px;
	margin-left: 275px;
	margin-top: 43px;
}

#u1825
{
	z-index: 318;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1831
{
	z-index: 324;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 58px;
}

#u1833
{
	z-index: 326;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 116px;
}

#u1827
{
	z-index: 320;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 174px;
}

#u1829
{
	z-index: 322;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 232px;
}

#u1835
{
	z-index: 328;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 292px;
}

#u1825:hover,#u1831:hover,#u1833:hover,#u1827:hover,#u1829:hover,#u1835:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u1835_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u1823
{
	z-index: 316;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u1823:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u191-9
{
	z-index: 281;
	width: 371px;
	min-height: 67px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 315px;
	top: -293px;
	margin-bottom: -154px;
	position: relative;
}

#u1204-6
{
	z-index: 290;
	display: block;
	vertical-align: top;
	margin-left: 102px;
	margin-top: 39px;
	position: relative;
}

body
{
	position: relative;
	min-width: 952px;
	padding-bottom: 109px;
}

#page .verticalspacer
{
	clear: both;
}

