.version.china /* version checker */
{
	color: #00000E;
	background-color: #E3D11F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 952px;
	min-height: 1065px;
	overflow:hidden;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 30px;
	padding-bottom: 1px;
	width: 0.01px;
}

#u786
{
	z-index: 216;
	height: 100px;
	top: 0px;
}

#u786-bw
{
	z-index: 216;
}

#u787
{
	z-index: 217;
	width: 256px;
	top: 11px;
	left: 50%;
	margin-left: -480px;
}

#u787_img
{
	padding-right: 6px;
	padding-bottom: 1px;
}

#u1318
{
	z-index: 221;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 66px;
}

#u1318:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 66px;
}

#u1334
{
	z-index: 227;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 118px;
}

#u1334:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 118px;
}

#u1329
{
	z-index: 225;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 169px;
}

#u1329:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 169px;
}

#u1349
{
	z-index: 233;
	width: 50px;
	top: 24px;
	left: 50%;
	margin-left: 220px;
}

#u1349:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 220px;
}

#u1339
{
	z-index: 229;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 272px;
}

#u1339:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 272px;
}

#u1344
{
	z-index: 231;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 323px;
}

#u1344:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 323px;
}

#u1324
{
	z-index: 223;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 374px;
}

#u1324:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 374px;
}

#u1312
{
	z-index: 219;
	width: 50px;
	top: 25px;
	left: 50%;
	margin-left: 426px;
}

#u1312:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 426px;
}

#u1844
{
	z-index: 235;
	width: 50px;
	min-height: 50px;
	left: -76px;
}

#u964-15
{
	z-index: 52;
	width: 641px;
	background-color: transparent;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 162px;
	margin-top: 187px;
	position: relative;
}

#u964-2
{
	font-size: 30px;
	line-height: 36px;
}

#u964-3,#u964-5,#u964-7,#u964-9,#u964-11,#u964-13
{
	font-size: 26px;
	line-height: 31px;
}

#u965-7
{
	z-index: 67;
	width: 836px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 62px;
	margin-top: 26px;
	position: relative;
}

#pu966-16
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 88px;
}

#u966-16
{
	z-index: 74;
	width: 459px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
}

#u967
{
	z-index: 90;
	width: 459px;
	min-height: 312px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 460px;
}

#pu962
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 102px;
}

#u962
{
	z-index: 51;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u969-13
{
	z-index: 91;
	width: 401px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u970-10
{
	z-index: 104;
	width: 422px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 39px;
	margin-top: 71px;
	position: relative;
}

#u971-10
{
	z-index: 114;
	width: 477px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 196px;
	margin-top: 33px;
	position: relative;
}

#u972-13
{
	z-index: 124;
	width: 596px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 169px;
	margin-top: 107px;
	position: relative;
}

#u973-13
{
	z-index: 137;
	width: 709px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 128px;
	margin-top: 76px;
	position: relative;
}

#pu956
{
	width: 0.01px;
	margin-left: -127px;
	margin-top: 51px;
}

#u956
{
	z-index: 49;
	width: 292px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
}

#u974-21
{
	z-index: 150;
	width: 604px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u975-16
{
	z-index: 171;
	width: 567px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 217px;
	margin-top: 92px;
	position: relative;
}

#u976-21
{
	z-index: 187;
	width: 593px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 187px;
	margin-top: 119px;
	position: relative;
}

#u966-2,#u969-2,#u970-2,#u971-2,#u972-2,#u973-2,#u974-2,#u975-2,#u976-2
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u966-3,#u966-5,#u966-6,#u966-8,#u966-9,#u966-11,#u966-12,#u966-14,#u969-3,#u969-5,#u969-6,#u969-8,#u969-9,#u969-11,#u970-3,#u970-5,#u970-6,#u970-8,#u971-3,#u971-5,#u971-6,#u971-8,#u972-3,#u972-5,#u972-6,#u972-8,#u972-9,#u972-11,#u973-3,#u973-5,#u973-6,#u973-8,#u973-9,#u973-11,#u974-3,#u974-5,#u974-6,#u974-8,#u974-9,#u974-11,#u974-12,#u974-14,#u974-15,#u974-17,#u974-19,#u975-3,#u975-5,#u975-6,#u975-8,#u975-9,#u975-11,#u975-12,#u975-14,#u976-3,#u976-5,#u976-6,#u976-8,#u976-9,#u976-11,#u976-12,#u976-14,#u976-15,#u976-17,#u976-19
{
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u943-47
{
	z-index: 2;
	width: 600px;
	background-color: transparent;
	margin-left: 186px;
	margin-top: 87px;
	position: relative;
}

#u943-3
{
	font-size: 24px;
	line-height: 29px;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u943,#u943-4,#u943-6,#u943-7,#u943-9,#u943-10,#u943-12,#u943-14,#u943-15,#u943-16,#u943-18,#u943-19,#u943-21,#u943-22,#u943-24,#u943-25,#u943-27,#u943-28,#u943-29,#u943-31,#u943-33,#u943-35,#u943-37,#u943-39,#u943-40,#u943-42,#u943-43,#u943-45
{
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u1774-8
{
	z-index: 208;
	width: 546px;
	background-color: transparent;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
	margin-left: 203px;
	margin-top: 124px;
	position: relative;
}

#u1774
{
	font-weight: 400;
}

#u1774-6
{
	color: #EE6312;
	font-family: Avenir Light;
}

#u1774-3,#u1774-4
{
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

body
{
	position: relative;
	min-width: 952px;
	padding-bottom: 95px;
}

#page .verticalspacer
{
	clear: both;
}

