.heading
{
	font-family: source-sans-pro-n9, sans-serif;
}

.subheading
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1758-8
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u927-2,#u927-4,#u927-6,#u927-7,#u927-9,#u927-13,#u928-11,#u928-12,#u928-18,#u928-20,#u928-22,#u930-5,#u930-6,#u930-8,#u1446-4,#u1238-5,#u1251-3,#u1251-7,#u1251-8,#u1251-12,#u1251-13,#u1251-21
{
	font-family: lato-n3, sans-serif;
}

#u927-10,#u930-2,#u930-4,#u1239-2,#u1239-4,#u1251-17
{
	font-family: lato-n7, sans-serif;
}

#u1311-5,#u1160-4,#u932-4,#u1251-19
{
	font-family: lato-n9, sans-serif;
}

#u1311-10,#u928-4,#u928-6,#u928-8,#u928-9,#u929-21,#u1239-8,#u1251-2,#u1252-4
{
	font-family: lato-n4, sans-serif;
}

#u1219-11
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1219
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u1219-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

