.heading
{
	font-family: source-sans-pro-n9, sans-serif;
}

.subheading
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1523,#u1530
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1535-4,#u1535-6,#u1536-3,#u1536-5,#u1536-7,#u1537-3,#u1537-5,#u1538-4,#u1538-6,#u1539-5
{
	font-family: source-sans-pro-i2, sans-serif;
}

#u1522,#u1456
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1478,#u1531-7,#u1523-11,#u1533-5,#u1534-5,#u1530-9,#u1532-5,#u1535-3,#u1536-2,#u1537-2,#u1538-3,#u1539-3,#u1598-4,#u1598-5,#u1599-4,#u1599-5,#u1599-7,#u1599-9,#u1599-11,#u1600-16,#u1600-5,#u1600-6,#u1600-9,#u1625-3,#u1626-3,#u1450-3,#u1450-4,#u1450-6,#u1450-7
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1453-10,#u1598-7,#u1599-13,#u1600-4,#u1600-7,#u1600-8,#u1600-10,#u1600-11,#u1600-13,#u1624-3,#u1624-5,#u1625-5,#u1626-5,#u1482-9
{
	font-family: source-sans-pro-n3, sans-serif;
}

