.heading
{
	font-family: source-sans-pro-n9, sans-serif;
}

.subheading
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u839-2,#u839-3,#u839-5,#u1211-3,#u1211-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

