.heading
{
	font-family: source-sans-pro-n9, sans-serif;
}

.subheading
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u127-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u144-4
{
	font-family: source-sans-pro-i2, sans-serif;
}

#u146-2,#u169-2,#u169-3,#u170-2,#u172-2
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u184-2,#u184-3,#u184-5,#u184-6,#u184-8,#u184-9,#u184-11,#u173-3,#u173-5,#u173-7,#u173-9,#u173-10,#u173-12,#u173-14,#u173-16,#u173-18,#u173-19
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u146-4,#u173-2,#u174-2,#u176-2,#u178-2,#u179-3
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u180-2,#u181-2,#u182-2
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u75-7,#u169-4,#u169-5,#u169-7,#u169-8,#u169-9,#u169-11,#u169-12,#u169-13,#u169-15,#u170-3,#u170-4,#u170-6,#u170-7,#u170-9,#u170-10,#u170-12,#u172-3,#u172-5,#u172-6,#u172-8,#u172-9,#u172-11,#u174-3,#u174-5,#u174-6,#u174-8,#u174-10,#u174-12,#u174-14,#u176-3,#u176-5,#u176-6,#u176-8,#u178-3,#u178-5,#u178-6,#u178-8,#u181-3,#u181-5,#u181-6,#u181-8,#u181-9,#u181-11,#u181-12,#u181-13,#u181-15,#u181-16,#u181-18,#u181-19,#u181-21,#u181-22,#u181-24,#u181-25,#u182-3,#u182-4,#u182-5,#u182-7,#u182-8,#u182-10,#u182-11,#u191-9
{
	font-family: source-sans-pro-n3, sans-serif;
}

