.heading
{
	font-family: source-sans-pro-n9, sans-serif;
}

.subheading
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u964-15,#u966-2,#u969-2,#u970-2,#u971-2,#u972-2,#u973-2,#u974-2,#u975-2,#u976-2,#u943-3
{
	font-family: lato-n9, sans-serif;
}

#u965-7,#u966-3,#u966-5,#u966-6,#u966-8,#u966-9,#u966-11,#u966-12,#u966-14,#u969-3,#u969-5,#u969-6,#u969-8,#u969-9,#u969-11,#u970-3,#u970-5,#u970-6,#u970-8,#u971-3,#u971-5,#u971-6,#u971-8,#u972-3,#u972-5,#u972-6,#u972-8,#u972-9,#u972-11,#u973-3,#u973-5,#u973-6,#u973-8,#u973-9,#u973-11,#u974-3,#u974-5,#u974-6,#u974-8,#u974-9,#u974-11,#u974-12,#u974-14,#u974-15,#u974-17,#u974-19,#u975-3,#u975-5,#u975-6,#u975-8,#u975-9,#u975-11,#u975-12,#u975-14,#u976-3,#u976-5,#u976-6,#u976-8,#u976-9,#u976-11,#u976-12,#u976-14,#u976-15,#u976-17,#u976-19,#u943,#u943-4,#u943-6,#u943-7,#u943-9,#u943-10,#u943-12,#u943-14,#u943-15,#u943-16,#u943-18,#u943-19,#u943-21,#u943-22,#u943-24,#u943-25,#u943-27,#u943-28,#u943-29,#u943-31,#u943-33,#u943-35,#u943-37,#u943-39,#u943-40,#u943-42,#u943-43,#u943-45
{
	font-family: lato-n3, sans-serif;
}

#u1774-3,#u1774-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

